services:
  db:
    image: mysql
    container_name: mysql_db
    # unless-stopped : 오류로 중단 시, 서버 재부팅 시 -> 무조건 자동 실행, 수동 정지 하면 재가동 x
    # always : 오류로 중단 시, 서버 재부팅 시, (수동 정지 후) -> 무조건 자동 실행
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD} 1234 # .env로 대체 가능 -> 시크릿 변수등 체크
      MYSQL_DATABASE: memo
      MYSQL_USER: ${MYSQL_USER} guest
      MYSQL_PASSWORD: ${MYSQL_PASSWORD} 1234
    volumes:
      - mysql_vol:/var/lib/mysql     
    ports:
      - "3306:3306"
    networks:
      - my-net 
  app:                 
    # 도커 허브(일종의 레퍼지토리)를 기반으로 이미지 사용
    # 도커 허브상 계정명/이미지명:태그명
    # 시크릿 변수에서 사용한다는 전제
    build: ${DOCKER_USERNAME}/fastapi-app:latest
    container_name: fastapi_app 
    restart: always
    command: uvicorn main:app --host 0.0.0.0 --port 8000 
    # 볼륨 마운트 제거
    # volumes:
    #   - ./app:/app 
    environment:
      DATABASE_URL: "mysql+pymysql://guest:1234@db:3306/memo"
    networks:
      - my-net 
    depends_on:     
      - db          
  nginx:
    # 도커 허브 내 커스텀 이미지 활용 
    image: ${DOCKER_USERNAME}/nginx-proxyLatest # nginx:alpine
    container_name: nginx_proxy
    restart: always
    ports:                      
    - "80:80"
    # volumes:       
    # - ./nginx/web.conf://etc/nginx/conf.d/default.conf                  
    networks:
      - my-net
    depends_on:    
      - app


networks:
  my-net:
    driver: bridge


volumes:
  mysql_vol:

