version: '3.8'

services:
  # 1. mysql 서비스 구성이 1번이다   -> db
  # 2. fastapi 서비스 구성이 2번이다 -> was
  # 3. nginx 서비스 구성이 3번이다   -> web
# 서비스들이 위치할 네트워크 구성
networks:

# 볼륨 설정 -> 필요시 호스트 os와 연결 (통상db)
volumes:
