name: Docker 기반 CICD


on:
    push:
        branches: [ "dockercompose" ] 

            

jobs:
    # 필요한 키워드 : git build push
    docker-build-deploy:
        runs-on: ubuntu-latest
        steps:        
            - name: 코드 Checkout
              uses: actions/checkout@v3

            - name: 검증
              run: |
                pwd
                ls ./dev -al
              shell: bash

              # dockerhub 로그인 단계
            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}
              # fastapi 관련 앱이 설정되있는 이미지 생성 및 도커허브에 푸쉬
              # 그래서 fastapi 아마존에서돌아가는거랑 이름이랑 경로를 맞춰줘야된다, context, tags
            - name: Build and Push fastapi 앱
              uses: docker/build-push-action@v4
              with:
                # dockerfile의 위치
                context: ./dev/app
                file: ./dev/app/Dockerfile
                push: true
                tags: ${{ secrets.DOCKER_USERNAME }}/fastapi-app:latest # 아마존에서 돌아가는 app이름과 맞추기
                
                # 커스텀된 nginx 이미지 생성 및 도커허브 푸쉬
            - name: Build and Push nginx 앱
              uses: docker/build-push-action@v4
              with:
                context: ./dev/nginx
                file: ./dev/nginx/Dockerfile
                push: true
                tags: ${{ secrets.DOCKER_USERNAME }}/nginx-proxy:latest

    # 2. EC2에 배포
    EC2-deploy:
        # 반드시 사전에 fastapi, nginx 이미지가 도커허브에 등록되어있어야 함
        needs: docker-build-deploy
        runs-on: ubuntu-latest
        steps:
          # 새로운 잡에서 새롭게 리눅스 할당, 소스코드를 체크아웃함 체크아웃이 파일 다 가져오는거임 생각해라
            - name: 코드 Checkout
              uses: actions/checkout@v3

          # 아래 파일은 소스코드를 체크아웃함으로써 획득할 수 있다.
          # AWS 의 EC2에 docker-compose.yml 파일을 업로드하려고 
          # uses: appleboy/scp-action@master => EC2에 파일 카피 기능 제공 도구
            - name: Copy docker-compose.yml to Ec2
              uses: appleboy/scp-action@master
              with: 
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USERNAME }}
                key: ${{ secrets.EC2_KEY }}
                port: 22
                source: ./dev/docker-compose.yml
                target: "/home/${{ secrets.EC2_USERNAME }}/dev"

            # - name: 환경변수 파일(.env) 동적생성
            #   run: |
            #     echo "${{ secrets.APP_ENV }}" >> .env
            #     ls -al
            #     cat .env
            #   shell: bash

            # - name: Copy sourcecode to Ec2
            #   uses: appleboy/scp-action@master
            #   with: 
            #     host: ${{ secrets.EC2_HOST }}
            #     username: ${{ secrets.EC2_USERNAME }}
            #     key: ${{ secrets.EC2_KEY }}
            #     port: 22
            #     source: .
              

            #     target: "/home/ubuntu/projects"



            # - name: Run Script and Service Restart
            #   uses: appleboy/ssh-action@master
            #   with: 
            #     host: ${{ secrets.EC2_HOST }}
            #     username: ${{ secrets.EC2_USERNAME }}
            #     key: ${{ secrets.EC2_KEY }}
            #     port: 22
            #     script: |
            #       # 1차로 ec2 세팅을 진행하고 나서 CI/CD 
            #       # ec2에 접속하고 나서 진행할 업무 기술
            #       # 해당 프로젝트 폴더로 이동(cd)
            #       cd /home/ubuntu/projects

            #       # 현재 프로젝트 내 파일을 확인
            #       ls -al
                
            #       # 추가(최초)로 설치된 패키지를 설치
            #       # 가상환경을 구동하지 않고, 가상환경의 명령어 직접 사용 가상환경(web)
            #       ./web/bin/pip install -r requirements.txt
            #       # uvicorn 서비스를 재가동(재시작 : restart) -> sudo
            #       sudo systemctl restart hello.service