name: 배포 Fastapi to EC2

# CICD라는 개념이 작동하는 것은
# main 브런치에서 push 이벤트가 발생시 작동됨
on:
    push:
        branches:
            - main

            
# 개별 작업(job)들 나열
jobs:
    # deploy(커스텀명) 라는 잡을 하나 설정 -> n개 가능
    deploy:
        # 어떤 OS에서 진행할것인가?
        runs-on: ubuntu-latest
    
        # 작업 단계 지정
        steps:        
            # 1. github에 저장되어 있는 최신 내용 체크아웃(소스를 내려 받는다)
            #    gitaction은 docker를 이용(개념) 가상으로 os를 사용(임시)
            - name: 코드 Checkout
              uses: actions/checkout@v3

            # 1-1. 검증
            - name: 검증
              run: |
                ls -al
              shell: bash

            # 2. 필요시 환경설정 파일 구성(.env)
            #    GITHUB의 시크릿변수를 통해서 동적 생성(내일 체크)            

            # 3. 필요한 파일을 ec2에 복사 (SCP)

            # 4. EC2에 필요한 배포 관련 스크림트 작동 (SSH)